// Adding font sizes here:

$fontsizesmall: 16px;
$fontsizemid: 20px;
$fontsizebody: 24px;
$fontsizesubheading: 32px;
$fontsizeheading: 40px;

// Adding colors here

$colorfooter: #33393f;
$colorheader: #f7f9f9;
$colorbody: white;
$colorfont: black;
$colorfooterlinks: #19699f;
$colorfootertext: #ced4da;


// Adding screen sizes here:

@media screen and (max-width: 768px) {}

// Body Style:

html {
    margin: 0;
}


.footer {
    // border: 1px solid red;
    background-color: $colorfooter;
    font-family: 'Roboto Condensed';
    color: $colorbody;
    padding: 4%;
    
    display: flex;
    flex-flow: column nowrap;

    .footerlinks {
        font-size: $fontsizesmall;

        flex-flow: row nowrap;
        justify-content: center;
        font-weight: 300;
    }

    a {
        color: $colorfooterlinks;
        flex: 0.1;

        &:hover {
            color: $colorfootertext;
            text-decoration: none;
        }
    }

    .allfooterwords {
        align-items: center;
        

        .footertitle {
            font-size: $fontsizemid;
            margin-bottom: 2%;
            margin-top: 1%;
        }

        .footertext {
            color: $colorfootertext;
            margin-top: 0;
            font-size: $fontsizesmall;
            font-weight: 300;
        }
    }
}

